<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <img src="/img/pic1.jpg" class="portrait "/>
    <p> welcome! i am Akshar Patel.</p>
    <p>I am 24 year old, recent CS graduate and currently looking for job. meanwhile, learing new tool of full stack web app development like Node.js, React, Ionic etc...</p>
    <p>I am currently located in Queens, New york, USA</p>
    </div>
    {{>footer}}
  </body>
</html>